/.phpunit.cache
/vendor
/node_modules
/public/build
/public/hot

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/bootstrap/cache/*

.env
.env.backup
.phpunit.result.cache
/database/*.sqlite